.home {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 3.7rem minmax(100%, auto);
  grid-template-areas:
    "nav"
    "main";
  overflow: hidden;
}
.nav {
  grid-area: nav;
}
.home__main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.slider__left {
  width: 2rem;
  height: 2rem;
  border: 1px solid #dbd7cd;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 10px;
  border-radius: 50%;
  z-index: 1;
}
.slider__right {
  position: absolute;
  top: 50%;
  right: 10px;
  border-radius: 50%;
  border: 1px solid #dbd7cd;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
.slider__right:hover {
  background-color: #dbd7cd;
  color: #ffffff;
  border: none;
}
.slider__left:hover {
  background-color: #dbd7cd;
  color: #ffffff;
  border: none;
}
.home__slider {
  display: flex;
}
.slider__main {
  width: 100vw;
  height: 100vh;
}
.slider__image-info {
  height: 90%;
}
.slider__image {
  height: 100%;
  width: 100vw;
  object-fit: cover;
}

.slider__action-dog {
  position: absolute;
  top: 40%;
  left: 75%;
}

.slider__action-btn {
  background-color: #fbbc34;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 10rem;
  height: 3rem;
  font-size: 1.1rem;
  font-weight: 510;
  letter-spacing: 0.5px;
  border-radius: 8px;
  color: #ffffff;
  border: 1px solid #fbbc34;
  font-variant: small-caps;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 7px;

}
.slider__action-btn:hover {
  background-color: #37393a;
  border: 1px solid #37393a;

}

.slider__action-cat {
  position: absolute;
  top: 35%;
  left: 115%;
}
